<div class="kathyphoto">
  <img style="height:400px;" src="https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-0/p206x206/15241798_10154855085849388_2887400682447961029_n.jpg?oh=eb5cb7937660ea5da9eb7ae7069bd033&oe=59CAA723" alt="">
  <div class="desc">
    <h2>Hi, I'm Kathy!</h2>
    <p>Baskets have been a passion of the Couture family house holds for genereations,
    I'm pretty sure their great ancestors invented the first basket back in 4300 BC.
    Kathy, her husband and a band of dogs run the basket workshop. Thanks to Kathy, baskets
    are now the number one export from VT. Kathy has written several books and each one
    reminds us why we love her so much. MERRY!</p>
    <p> Thanks to Kathy, baskets
    are now the number one export from VT. Kathy has written several books and each one
    reminds us why we love her so much. MERRY!Baskets have been a passion of the Couture family house holds for genereations,
    I'm pretty sure their great ancestors invented the first basket back in 4300 BC.
    Kathy, her husband and a band of dogs run the basket workshop.</p>
    <p>Baskets have been a passion of the Couture family house holds for genereations,
    I'm pretty sure their great ancestors invented the first basket back in 4300 BC.
    Kathy, her husband and a band of dogs run the basket workshop. Thanks to Kathy, baskets
    are now the number one export from VT. Kathy has written several books and each one
    reminds us why we love her so much. MERRY!</p>
  </div>
</div>
