<h1 class="cen">{{title}}</h1>
<h3 class="cen">Your current total: ${{yourcart}}</h3>
<a  class='cen' href="#/postpurchase"><button class="buybutt">Buy Baskets</button></a>
<table>
  <tr>
    <td><img ng-click="atc_one()" src="https://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/41228_XXX_v1.tif&wid=2000&cvt=jpeg" alt=""></td>
    <td><img ng-click="atc_two()" src="https://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/46790_XXX_v1.tif&wid=650&cvt=jpeg" alt=""></td>
    <td><img ng-click="atc_three()" src="https://s-media-cache-ak0.pinimg.com/236x/c5/b9/fd/c5b9fd094d23d604f4092797ffed17d8.jpg" alt=""></td>
  </tr>
  <tr>
    <td><img ng-click="atc_four()" src="https://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/46790_XXX_v1.tif&wid=650&cvt=jpeg" alt=""></td>
    <td><img ng-click="atc_one()" src="https://s-media-cache-ak0.pinimg.com/236x/c5/b9/fd/c5b9fd094d23d604f4092797ffed17d8.jpg" alt=""></td>
    <td><img ng-click="atc_two()" src="https://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/41228_XXX_v1.tif&wid=2000&cvt=jpeg" alt=""></td>
  </tr>
  <tr>
    <td><img ng-click="atc_three()" src="https://s-media-cache-ak0.pinimg.com/236x/c5/b9/fd/c5b9fd094d23d604f4092797ffed17d8.jpg" alt=""></td>
    <td><img ng-click="atc_one()" src="https://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/41228_XXX_v1.tif&wid=2000&cvt=jpeg" alt=""></td>
    <td><img ng-click="atc_four()" src="https://s-media-cache-ak0.pinimg.com/236x/c5/b9/fd/c5b9fd094d23d604f4092797ffed17d8.jpg" alt=""></td>
  </tr>
</table>
