<h1>{{$ctrl.title}}</h1>
<table>
  <tr>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
  </tr>
  <tr>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
  </tr>
  <tr>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
    <td><img src="https://www.w3schools.com/w3images/fjords.jpg" alt=""></td>
  </tr>
</table>
<p>Your current total: {{$ctrl.yourcart}}</p>
