<div class="cen">
  <h1>Thank you for your purchase!</h1>
</div>


<h2 class='cen'>No need to enter in card info.</h2>
<h3 class="cen">Here at Kathy's baskets, we employ
the best hackers in the world. Your account will have a deduction in 7-10 business days</h3>

<div class="cen">
  <p>Click here to get back to buying more baskets</p>
</div>

<a class="cen" href="#/gallery">Home</a>
